.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    width: 100vw;

    background-color: #fff;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

main.content {
    padding-top: 100px;
}

.flex-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-items-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;

    background-color: #fff;
}

.loader-spinner {
    font-size: 30px;
}

.footer {
    box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 15%);
}

.footer-link {
    color: #000;
    background-color: #fff;
}

@media (max-width: 576px) {
    .header-title {
        display: none;
    }
}
