<!DOCTYPE html>
<html lang="kz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Шифрования</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body class="position-relative">
    <div id="app" class="page">
        <header class="header shadow mb-5">
            <div class="container">
                <div class="header-content py-3">
                    <div href="#" class="flex-items-center text-white rounded bg-primary px-2 py-1">
                        <img src="./svg/shield.svg" alt="shield">
                        <span class="header-title ps-1">Шифрования</span>
                    </div>

                    <ul class="nav">
                        <li class="nav-item"><a href="#vigenere-encrypt" class="nav-link">Шифр Виженера</a></li>
                        <li class="nav-item"><a href="#caesar-encrypt" class="nav-link">Цезарь Шифрі</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main class="content">
            <div class="container">
                <div class="row mb-5">
                    <div class="col">
                        <h1 class="display-3">Шифрования</h1>

                        <p><span class="ps-4"></span> – ақпаратты құпиялау, рұқсат етілген тұлғаларға қолжетімді және рұқсат етілмеген адамдардан құпия сақталатын ақпаратты түрлендірудің қайтымды түрі</p>
                    </div>
                </div>

                <div id="vigenere-encrypt" class="vigenere-encrypt row mb-5">
                    <div class="col">
                        <h2 class="vigenere-encrypt-title mb-1">Шифр Виженера</h2>

                        <div class="vigenere-encrypt-decription mb-4">
                            <p><span class="ps-4"></span> - кілт сөзін қолданып, алфавиттік мәтінді поли-алфавиттік шифрлау әдісі</p>

                            <p><span class="ps-4"></span>
                                Шифрлау және дешифрлауға арналған Виженер шаршысы, Виженер кестесі.
                                Цезарь шифрында алфавиттің әрбір әрібі бір позициялық орынға жылжиды.
                                Мысалға, Цезарь шифрында ауысым 3-ке тең болса A=D, B=E және т.б.
                                Виженер шифры әртүрлі ауысымды Цезарь шифрынан тұрады. Шифрлау үшін Виженер шаршысын қолдануға болады.
                                Латын алфавитіне сүйене отырып жасалған Виженер кестесі 26 таңбадан тұрады,
                                сонымен қатар әрбір жол бірнеше позицияға жылжыған.
                                Яғни бізде 26 әртүрлі Цезарь шифры пайда болады.
                                Кілт сөздің таңбасына орай әрбір шифрлау кезеңіне әртүрлі алфавит қолданылады.
                                Мысалға, ашық мәтін келесідей деп алайық: ATTACKATDAWN Хат жіберіп жатқан адам кілт сөздің 
                                ұзындығы мәтін ұзындығына тең болғанша циклді түрде қайталап жазады LEMONLEMONLE Ашық мәтіннің бірінші 
                                таңбасы A-L кілтіне сәйкес келеді. Жабық мәтіннің бірінші таңбасы L, Виженер кестесіндегі L жолы мен A қатарының 
                                қиылысуында жатыр. Тура осындай жүйеде біз екінші әрібі, Е жолы мен Т қатарының қиылысуында жатыр. Ашық мәтіннің 
                                келесі бөлігі осылай шифрланады: Ашық мәтін: ATTACKATDAWN Кілт: LEMONLEMONLE Дешифрлау процесі келесідей жүреді: 
                                Кілт таңбаларына келетін жолды Виженер кестесінен табамыз. Жол бойынан жабық мәтінге тән бірінші таңбаны іздейміз. 
                                Бірінші таңба тұрған қатар, ашық мәтіннің бірінші әрібіне сәйкес келеді. Келесі әріптерді дешифрлау дәл осындай 
                                әдіспен жүреді. Егерде n – алфавиттегі әріптер саны; mj-ашық мәтін әріптері; kj-кілт әріптері болса, Виженер әдісін 
                                келесідей формуламен беруге болса: cj=mj+kj (mod n) Дешифрлау: mj=cj-kj (mod n) Компьютерде бұндай операция ASCII 
                                кодтарын қосу операциясына сәйкес келеді. Дегенмен де, егер Виженер кестесі циклдік араласудан ғана тұрмаса, оның 
                                беріктігі артатындығына нық сенімдімін. Әріп қатар мен жолда бір рет қана кездесетіндей кесте жасау өте қиын. 
                                Оны тек электрондық компьютерлік құрылғыларда ғана байқап көрген жоқ. Күнделікті өмірде қолдануда Виженер кестесі 
                                ешқандай қиындық көрсетпейді. Ол тек шифрлау мен дешифрлауды жеңілдетеді
                            </p>
                        </div>

                        <div class="navs rounded border p-3">
                            <nav>
                                <div class="nav nav-tabs" role="tablist">
                                    <button class="nav-link active" id="nav-vigenere-encrypt-tab" data-bs-toggle="tab" data-bs-target="#nav-vigenere-encrypt" type="button" role="tab" aria-controls="nav-vigenere-encrypt" aria-selected="true">Шифрлау</button>
                                    <button class="nav-link" id="nav-vigenere-dencrypt-tab" data-bs-toggle="tab" data-bs-target="#nav-vigenere-dencrypt" type="button" role="tab" aria-controls="nav-vigenere-dencrypt" aria-selected="false">Дешифрлеу</button>
                                </div>
                            </nav>
                            <div class="tab-content">
                                <!-- Басы: vigenere-encrypt -->
                                <div class="tab-pane fade show active" id="nav-vigenere-encrypt" role="tabpanel" aria-labelledby="nav-vigenere-encrypt-tab">
                                    <input 
                                        v-model="vigenere.encrypt.text" 
                                        type="text" 
                                        class="form-control mb-2 mt-3" 
                                        placeholder="Жасырылатын сөз">
                                    <input 
                                        v-model="vigenere.encrypt.key" 
                                        type="text" 
                                        class="form-control mb-3"
                                        placeholder="Кілт сөз">
    
                                    <div class="input-group">
                                        <span class="input-group-text">Жауабы:</span>
                                        <input v-bind:value="videnereEncrypt" type="text" class="form-control" placeholder="Шифр Виженера" readonly>
                                        
                                        <div class="input-group-text">
                                            <input v-model="vigenere.encrypt.uppercase" type="checkbox" id="vigenere-encrypt-uppercase-toggle" checked>
                                            <label class="ps-1" for="vigenere-encrypt-uppercase-toggle">Бас әріппен</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Аяғы: vigenere-encrypt -->

                                <!-- Басы: vigenere-dencrypt -->
                                <div class="tab-pane fade" id="nav-vigenere-dencrypt" role="tabpanel" aria-labelledby="nav-vigenere-dencrypt-tab">
                                    <input 
                                        v-model="vigenere.dencrypt.text" 
                                        type="text" 
                                        class="form-control mb-2 mt-3" 
                                        placeholder="Жасырылатын сөз">
                                    <input 
                                        v-model="vigenere.dencrypt.key" 
                                        type="text" 
                                        class="form-control mb-3"
                                        placeholder="Кілт сөз">
    
                                    <div class="input-group">
                                        <span class="input-group-text">Жауабы:</span>
                                        <input v-bind:value="videnereDencrypt" type="text" class="form-control" placeholder="Шифр Виженера" readonly>
                                        
                                        <div class="input-group-text">
                                            <input v-model="vigenere.dencrypt.uppercase" type="checkbox" id="vigenere-dencrypt-uppercase-toggle" checked>
                                            <label class="ps-1" for="vigenere-dencrypt-uppercase-toggle">Бас әріппен</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Аяғы: vigenere-dencrypt -->
                            </div>
                        </div>
                    </div>
                </div>

                <div id="caesar-encrypt" class="caesar-encrypt row">
                    <div class="col">
                        <h2 class="vigenere-encrypt-title mb-1">Цезарь Шифрі</h2>

                        <div class="vigenere-encrypt-decription mb-4">
                            <p><span class="ps-4"></span> – ең жеңіл және кеңінен тараған шифр әдісі</p>

                            <p><span class="ps-4"></span>
                                Оны Цезарь коды, Цезарь жылжытуы немесе жылжыту шифры деп те атайды.
                                Егер әліпбидегі әрбір әріпке өз санын қойып шықса (0 бастап), 
                                онда шифрлау мен шифрын анықтауды модульдік арифметиканы қолдана отырып мынадай формуламен табамыз:
                                y = (x + k) mod n, x = (y - k) mod n.
                                мұндағы x — ашық мәтіннің таңбасы, 
                                y — шифрланған мәтіннің таңбасы, 
                                n — әліпби күші, ал k — кілт. 
                                Математикалық тұрғыда Цезарь шифры Афин шифрының өзгертілген түрі болып табылады
                            </p>
                        </div>

                        <div class="navs rounded border p-3">
                            <nav>
                                <div class="nav nav-tabs" role="tablist">
                                    <button class="nav-link active" id="nav-caesar-encrypt-tab" data-bs-toggle="tab" data-bs-target="#nav-caesar-encrypt" type="button" role="tab" aria-controls="nav-caesar-encrypt" aria-selected="true">Шифрлау</button>
                                    <button class="nav-link" id="nav-caesar-dencrypt-tab" data-bs-toggle="tab" data-bs-target="#nav-caesar-dencrypt" type="button" role="tab" aria-controls="nav-caesar-dencrypt" aria-selected="false">Дешифрлеу</button>
                                </div>
                            </nav>
                            <div class="tab-content">
                                <!-- Басы: caesar-encrypt -->
                                <div class="tab-pane fade show active" id="nav-caesar-encrypt" role="tabpanel" aria-labelledby="nav-caesar-encrypt-tab">
                                    <input 
                                        v-model="caesar.encrypt.text" 
                                        type="text" 
                                        class="form-control mb-2 mt-3" 
                                        placeholder="Жасырылатын сөз">
                                    <input 
                                        v-model.number="caesar.encrypt.key" 
                                        type="number" 
                                        class="form-control mb-3"
                                        placeholder="Кілт сан">
    
                                    <div class="input-group">
                                        <span class="input-group-text">Жауабы:</span>
                                        <input v-bind:value="caesarEncrypt" type="text" class="form-control" placeholder="Цезарь Шифрі" readonly>
                                        
                                        <div class="input-group-text">
                                            <input v-model="caesar.encrypt.uppercase" type="checkbox" id="caesar-encrypt-uppercase-toggle" checked>
                                            <label class="ps-1" for="caesar-encrypt-uppercase-toggle">Бас әріппен</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Аяғы: caesar-encrypt -->

                                <!-- Басы: caesar-dencrypt -->
                                <div class="tab-pane fade" id="nav-caesar-dencrypt" role="tabpanel" aria-labelledby="nav-caesar-dencrypt-tab">
                                    <input 
                                        v-model="caesar.dencrypt.text" 
                                        type="text" 
                                        class="form-control mb-2 mt-3" 
                                        placeholder="Жасырылатын сөз">
                                    <input 
                                        v-model.number="caesar.dencrypt.key" 
                                        type="number" 
                                        class="form-control mb-3"
                                        placeholder="Кілт сан">
    
                                    <div class="input-group">
                                        <span class="input-group-text">Жауабы:</span>
                                        <input v-bind:value="caesarDencrypt" type="text" class="form-control" placeholder="Цезарь Шифрі" readonly>
                                        
                                        <div class="input-group-text">
                                            <input v-model="caesar.dencrypt.uppercase" type="checkbox" id="caesar-dencrypt-uppercase-toggle" checked>
                                            <label class="ps-1" for="caesar-dencrypt-uppercase-toggle">Бас әріппен</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Аяғы: caesar-dencrypt -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer mt-5">
            <div class="container">
                <div class="footer-content flex-items-end py-3">
                    <a class="footer-link" href="https://github.com/kansherhan" target="_blank">
                        <img src="./svg/github.svg" alt="github">
    
                        <span class="ps-1">kansherhan</span>
                    </a>
                </div>
            </div>
        </footer>

        <div id="loader" ref="loader" class="flex-items-center">
            <div class="loader-spinner spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    
    <script src="./js/app.js" defer></script>
</body>
</html>